button {
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d0f115;
  }
  /* clases que se usan en Boton.js */
  .boton-clic {
    background-color: #ad0000;
  }
  
  .boton-reiniciar {
    background-color: #016aa7;
  }