/* resetiar los estilos a 0 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #1b1b32;
}

.App {
  display: flex; /* ubicar los elemento usando flexBox*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* fin del flex box */
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  height: 50px;
}

/* estilos que contiene op encierra al contador y a los botones */
.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}